Repository team-winey/Winey-AOS, pull requests merged in 2023-09, with the labels that each got.

#183 [fix] 위니 피드 / swipe refresh 후에도 스크롤 위치 재조정해주는 문제 해결
  app/src/main/java/org/go/sopt/winey/presentation/main/feed/WineyFeedFragment.kt
Labels: fix 💥, 혜선 🐱

#187 [mod] 마이페이지 / 닉네임 수정 뷰에서 원래 닉네임의 글자수 표시
  app/src/main/java/org/go/sopt/winey/presentation/main/feed/WineyFeedFragment.kt
  app/src/main/java/org/go/sopt/winey/presentation/nickname/NicknameActivity.kt
  app/src/main/java/org/go/sopt/winey/util/binding/BindingAdapter.kt
  app/src/main/res/layout/activity_nickname.xml
Labels: mod 〰, 하은 🐰

#185 [mod] 마이 피드 / 상세페이지에서 삭제시 화면 처리
  app/src/main/java/org/go/sopt/winey/presentation/main/MainActivity.kt
  app/src/main/java/org/go/sopt/winey/presentation/main/feed/WineyFeedFragment.kt
  app/src/main/java/org/go/sopt/winey/presentation/main/feed/detail/DetailActivity.kt
  app/src/main/java/org/go/sopt/winey/presentation/main/mypage/MyPageFragment.kt
  app/src/main/java/org/go/sopt/winey/presentation/main/mypage/myfeed/MyFeedFragment.kt
Labels: mod 〰, 혜선 🐱

#189 [fix] 위니 업로드 / 이미지 크기가 5MB 보다 작은 경우
  app/src/main/java/org/go/sopt/winey/presentation/main/feed/upload/AmountFragment.kt
  app/src/main/java/org/go/sopt/winey/presentation/main/feed/upload/UploadViewModel.kt
  app/src/main/java/org/go/sopt/winey/presentation/onboarding/story/StoryActivity.kt
  app/src/main/java/org/go/sopt/winey/util/binding/BindingAdapter.kt
  app/src/main/java/org/go/sopt/winey/util/multipart/UriToRequestBody.kt
  app/src/main/res/layout/activity_nickname.xml
Labels: mod 〰, fix 💥, 하은 🐰

#191 [feat] 마이페이지 / 마이페이지 진입 시 서버와의 통신 이전에 데이터스토어에 저장된 정보 출력
  app/src/main/java/org/go/sopt/winey/presentation/main/mypage/MyPageFragment.kt
Labels: feat ✨, 상욱 🐨

#194 [fix] 위니피드, 마이피드 / 상세피드 갔다오면 해당 아이템만 갱신하도록 변경
  app/src/main/java/org/go/sopt/winey/data/repository/FeedRepositoryImpl.kt
  app/src/main/java/org/go/sopt/winey/data/source/paging/BasePagingSource.kt
  app/src/main/java/org/go/sopt/winey/data/source/paging/MyFeedPagingSource.kt
  app/src/main/java/org/go/sopt/winey/data/source/paging/WineyFeedPagingSource.kt
  app/src/main/java/org/go/sopt/winey/domain/entity/WineyFeed.kt
  app/src/main/java/org/go/sopt/winey/domain/repository/FeedRepository.kt
  app/src/main/java/org/go/sopt/winey/presentation/main/feed/WineyFeedAdapter.kt
  app/src/main/java/org/go/sopt/winey/presentation/main/feed/WineyFeedFragment.kt
  app/src/main/java/org/go/sopt/winey/presentation/main/feed/WineyFeedLoadAdapter.kt
  app/src/main/java/org/go/sopt/winey/presentation/main/feed/WineyFeedViewModel.kt
  app/src/main/java/org/go/sopt/winey/presentation/main/feed/detail/DetailActivity.kt
  app/src/main/java/org/go/sopt/winey/presentation/main/mypage/MyPageNotOverDialogFragment.kt
  app/src/main/java/org/go/sopt/winey/presentation/main/mypage/myfeed/MyFeedAdapter.kt
  app/src/main/java/org/go/sopt/winey/presentation/main/mypage/myfeed/MyFeedFragment.kt
  app/src/main/java/org/go/sopt/winey/presentation/main/mypage/myfeed/MyFeedViewModel.kt
  app/src/main/res/layout/fragment_mypage_not_over_dialog.xml
  app/src/main/res/layout/fragment_winey_feed.xml
  app/src/main/res/values/strings.xml
Labels: mod 〰, fix 💥, 하은 🐰

#196 [mod] 위니피드, 마이피드 / 서버로부터 받은 feed id로 어댑터 아이템 삭제
  app/src/main/java/org/go/sopt/winey/data/model/remote/response/ResponseDeleteFeedDto.kt
  app/src/main/java/org/go/sopt/winey/data/repository/FeedRepositoryImpl.kt
  app/src/main/java/org/go/sopt/winey/data/service/FeedService.kt
  app/src/main/java/org/go/sopt/winey/data/source/FeedDataSource.kt
  app/src/main/java/org/go/sopt/winey/domain/repository/FeedRepository.kt
  app/src/main/java/org/go/sopt/winey/presentation/main/feed/WineyFeedFragment.kt
  app/src/main/java/org/go/sopt/winey/presentation/main/feed/WineyFeedViewModel.kt
  app/src/main/java/org/go/sopt/winey/presentation/main/feed/detail/DetailViewModel.kt
  app/src/main/java/org/go/sopt/winey/presentation/main/mypage/myfeed/MyFeedFragment.kt
  app/src/main/java/org/go/sopt/winey/presentation/main/mypage/myfeed/MyFeedViewModel.kt
Labels: mod 〰, 하은 🐰

#198 [fix] 닉네임 설정 / 유효한 입력값일 때만 중복체크 하도록 변경
  app/src/main/java/org/go/sopt/winey/presentation/main/feed/upload/UploadViewModel.kt
  app/src/main/java/org/go/sopt/winey/presentation/nickname/NicknameActivity.kt
  app/src/main/java/org/go/sopt/winey/presentation/nickname/NicknameViewModel.kt
  app/src/main/java/org/go/sopt/winey/util/binding/BindingAdapter.kt
  app/src/main/java/org/go/sopt/winey/util/code/ErrorCode.kt
  app/src/main/res/values/strings.xml
Labels: mod 〰, fix 💥, 하은 🐰
